.app {
  /* background: #0E91A1; */

}

section {
  margin: 0px;
}

.navBar {
    display: flex;
    height: 10vh;
    justify-content: center;
    height: 10vh;
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    box-sizing: border-box;
    z-index: 25;
    border-bottom: 1px solid rgba(85, 85, 85, 0.1);
  }
  
  .navContainer {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin-top: 2vh;
  }
  
  .navBar img {
    max-height: 35px;
    max-width: 146px;
    cursor: pointer;
  }
  
  .logoHolder {
    height: 46px;
    width: 200px;
    padding-top: 14px;
    padding-left: 6px;
    
  }
  
  .buttonsHolder {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-top: 10px;
    padding-right: 20px;
  }
  
  .getStarted {
    height: 46px;
    justify-content: flex-end;
  }
  
  .getStartedButton {
    height:36px;
    width:166.5px;
    background: #F2744A;
    color: #FFF;
    flex: initial;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid;
    border-bottom-color: #c94727;
    box-shadow: 0px 1px #c94727;
    font-weight: bold;
    font-size: .8em;
    letter-spacing: .5px;
    text-transform: uppercase;
    outline: none;
  }

  .getStartedButton:hover  {
    opacity: .9;
  }
  
  .logIn {
    height: 46px;
    justify-content: flex-end;
  }
  
  .logInButton {
    height: 36px;
    width: 87px;
    margin-left: 10px;
    background: #F6F6F6;
    color: #555;
    flex: initial;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid;
    border-bottom-color: #ccc;
    box-shadow: 1px 1px #ccc;
    font-weight: bold;
    font-size: .8em;
    letter-spacing: .5px;
    text-transform: uppercase;
  }

  .logInButton:hover {
    background: rgb(230, 230, 230);
  }
  
  /* ----------------------------------------- */
  


  .video {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    background: #0E91A1;    
    background-color: rgba(0, 255, 200, 0.3);
    position: relative;
    z-index: 1;
    max-height: 853px;
  }

  .content {
    position: absolute;
    top: 10.1vh;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    height: 100%;
    width: 100%;
    padding: 20px;
    align-content: center;
    box-sizing: border-box;
    z-index:5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content h2 {
    width: 580px;
    height: 96px;
    margin-bottom: 25px;
    text-align: center;
  }

  .content h5 {
    margin-bottom: 34px;
  }

  .video button {
    height:50px;
    width:232px;
    text-transform: none;
    font-size: 18px;
    font-weight: 500;
  }

  .videoContainer {
    /* margin-top: 95px; */
    position: relative;
    /* max-height: 853px; */
    z-index: 2
  }
  
  #myVideo {
    /* max-height: 90vh; */
    min-width: 100%;
    background: contain;
   }
  /* ----------------------------------------- */
  

  .train {
    height: 78vh;
    width: 100%;
    background: #0E91A1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 74px;
    position: relative;
    z-index: 8;
    margin-top: 96px
  }
  
  .train h2 {
    margin-bottom: 34px;
  }
  
  .train img {
    max-height: 332px;
    max-width: 692px;
    width: 100%;
    height: auto;
  }
  
  .train h3 {
    margin-top: 24px;
    margin-bottom: 10px;
  }
  
  .train p {
    width: 650px;
    height: 100px;
    text-align: center;
  }
  
  .train span {
    opacity: .7;
  }
  
  /* ----------------------------------------- */
  
  .transform {
    height: 82vh;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .transform h2 {
    margin-top: 64px;
  }
  
  .transform h5 {
    width: 988px;
    height: 58px;
    margin-top: 16px;
    margin-bottom: 12px;
    text-align: center;
    opacity: .7;
  }
  
  .transform img {
    max-height: 300px;
    max-width: 840px;
    width: 100%;
    height: auto;
  }
  
  .transformContainer {
    height: 160px;
    width: 1028px;
    margin-top: 28px;
    display: flex;
  }
  
  .transformBlurbs {
    margin-left: 28px;
    width: 460px;
    height: 142px;
  }
  
  .transformBlurbs h4 {
    margin-bottom: 12px;
  }
  
  .transformBlurbs p {
    opacity: .7;
  }
  
  .transform button {
    height:50px;
    width:232px;
    text-transform: none;
    font-size: 18px;
    font-weight: 500
  }
  
  /* ----------------------------------------- */
  
  .research {
    height: 79.2vh;
    width: 100%;
    background: #146c78;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .research h2 {
    margin-top: 64px;
  }
  
  .research h5 {
    margin-top: 12px;
    margin-bottom: 30px;
    opacity: .7;
  }
  
  .research img {
    max-height: 300px;
    max-width: 840px;
    width: 100%;
    height: auto;
  }
  
  .researchRow {
    height: 102px;
    width: 1008px;
    display: flex;
    margin-top: 30px;
  }
  
  .research section {
    width: 316px;
    height: 192px;
    margin-left: 30px;
  }
  
  .research section:nth-child(2) {
    width: 290px;
    margin-right: 10px;
  }
  
  .research h4 {
    margin-bottom: 10px;
  }
  
  .research p {
    opacity: .7;
  }
  
  /* ----------------------------------------- */
  
  .collaborate {
    height: 84vh;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .collaborate h2 {
    margin-top: 60px;
  }
  
  .collaborate h5 {
    height: 58px;
    width: 940px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 40px;
    opacity: .7;
  }
  
  .collaborateIMG {
    max-width: 840px;
    max-height: 300px;
  }
  
  .collaborateRow {
    display: flex;
    padding-top: 42px;
    width: 880px;
  }
  
  .collaborate section {
    width: 160px;
    height: 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 45px;
    margin-right: 5px;
  }
  
  .collaborate section img {
    max-width: 36px;
    max-height: 36px;
  }
  
  .collaborate li {
    text-align: center;
    padding-top: 20px;
    list-style: none;
    opacity: .7;
    line-height: 24px;
    font-size: 15px;
  }
  
  .collaborate h4 {
    padding-top: 28px;
  }
  
  .collaborate span {
    text-decoration: underline;
    cursor: pointer;
  }
  
  /* ----------------------------------------- */
  
  .mission {
    height: 64.5vh;
    width: 100%;
    background: #104b53;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .mission img {
    max-width: 900px;
    max-height: 300px;
    z-index: 3;
  }
  
  .mission h2 {
    width: 580px;
    height: 96px;
    position: absolute;
    top: 260px;
    text-align: center;
  }
  
  .mission h5 {
    width: 730px;
    height: 58px;
    margin-top: 76px;
    opacity: .7;
    text-align: center;
  }
  
  .mission button {
    width: 232px;
    height: 50px;
    margin-top: 40px;
    text-transform: none;
    font-size: 18px;
    font-weight: 500
  }
  /* ----------------------------------------- */
  
  .footer {
    height: 10vh;
    width: 100%;
    background: #f6f7f8;
    
  }
  
  .footer section {
    height:10.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    box-sizing: border-box
  }
  
  .footer h5 {
    font-size: 12.2px;
    opacity: .4;
    cursor: pointer;
    margin: 5px;
  }