.shapeShift {
    width: 640px;
    height: 480px;
    background: bisque;
    display: flex;
}

.colorDiv {
    width:50%;
    height: 480px;
    background: aqua
}

#rightColor {
    background: lightslategray;
}