.gameLoading {
    width: 640px;
    height: 480px;
    box-sizing: border-box;
    padding-top: 40px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 20;
    
    /* radial gradient for shadow */
}

.loadingTimer {
    font-size: 100px;
    position: absolute;
    top: 160px;
    left: 290px;
}

#fakeGame {
    position: relative;
    z-index: -9;
    top: -20px
}