.shapeShiftPage {
    width: 100%;
    height: 100vh;
    background-color: #f6f7f8;
}

.gameAndInfoContainer {
    width:988px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    display: flex;
}

.gameBorder {
    width: 683px;
    height: 552px;
    padding: 20px;
    padding-bottom: 0px;
    background: #fff;
    box-shadow: 0px 1px 2px #e2e2e2;
    border: solid 1px #e2e2e2;
    box-sizing: border-box;
    position: relative;
}

.gameControls {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;    
}

.gameControls:hover {
    cursor: pointer;
    background: #fb933d
}

#controlsQuestion {
    left: 42%;
}

#controlsPause {
    left: 48.1%;
}

#controlsAudio {
    left: 54%;
}

/* -------------------------------------- */

.attentionBlurb {
    width: 258px;
    margin-left: 20px;
    color: #444;
    position: relative;
    z-index: -4;
}

.attentionBlurb h5 {
    margin-bottom: 6px;
}

.attentionLine {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 6px;
}

.attentionBlurb h6 {
    font-size: 1em;
    line-height: 1.5;
}

#shapeShiftFooter {
    position: absolute;
    top: 66%;
    font-size: 13px;
}
